body{
    font-family: 'Trebuchet MS', sans-serif;
    padding: 3.125rem 0 0 0;
    margin: 0;
}

.container{
    background: #eeeeee;
    /* padding-top: 35px;
    padding-bottom: 25px; */
    padding: 2.1875rem 0 1.5625rem 0;
    margin: 0 .5rem 0 .5rem;
    border-radius: 5px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

#title{
    margin: 0;
    font-weight: 300;
    font-size: 2.5em;
}

.lead{
    font-weight: 200;
}

.ex_margin{
    margin-bottom: 20px;
}

#img-div{
    background: #fff;
    border-radius: 5px;
    padding: 25px 0px 20px 0px;
    margin: 0px 10px 0px 10px;
}

img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

#img-caption{
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#img-caption p{
    margin-bottom: 0px
}

#tribute-info{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#tribute-info ul li{
 padding-bottom: 12px;
}

blockquote{
    font-style: italic;
    color: #202020;
}

.quote-footer{
    color: rgb(119, 119, 119);
}


footer > .container{
    background: #8f8f8f;
    padding: 1.25rem 0 1.25rem 0;
    border-radius: 0;
    margin: 0;
}

footer  p{
    margin: .25rem 0 .25rem 0;
}

@media (max-width: 768px){
    #img-caption{
        width: auto;
        padding: 0 0.5em 0 0.5em;
    }

    #tribute-info{
        width: auto;
        padding-top: 10px;
        padding-right: 0.5em;
    }

    #tribute-info h3{
        padding-left: 12px;
    }

    .wiki{
        padding-left: 10px;
        padding-right: 10px;
    }

    footer > .container{
        background: #8f8f8f;
        padding: 1rem 0 1rem 0;
        border-radius: 0;
        margin: 0;
    }

}